/node_modules
/public/hot
/public/storage
/public/modpacks
/public/modpacks-data
/public/launcher
/public/js
/public/css
/public/mix-manifest.json
/storage/*.key
/storage/debugbar
/vendor
/.ezg
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
phpunit.local.xml
supervisord.pid
