@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    @variants dark {
        .form-input {
            @apply border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:border-transparent
            dark:bg-gray-900 dark:text-gray-100 dark:border-gray-700 dark:placeholder-gray-600;
        }

        .link-brand {
            @apply text-indigo-600 hover:text-indigo-900 dark:text-indigo-400 dark:hover:text-indigo-300;
        }

        .link-success {
            @apply text-emerald-600 hover:text-emerald-900 dark:text-emerald-500 dark:hover:text-emerald-400;
        }

        .link-danger {
            @apply text-red-600 hover:text-red-900 dark:text-red-500 dark:hover:text-red-400;
        }

        .breadcrumb {
            @apply font-semibold text-xl text-gray-800 dark:text-gray-100 leading-tight;
        }

        .breadcrumb-separator {
            @apply text-gray-400 dark:text-gray-500;
        }
    }
}

@layer utilities {
    @variants responsive {
        .h-page {
            height: calc(100vh - 14.6rem);
            max-height: 30rem;
        }

        .w-page {
            width: 80rem;
            max-width: 80rem;
        }

        .w-prose {
            width: calc(65ch + 1.5rem)
        }
    }
}

@layer base {

    body {
        --scrollbarBG: theme('colors.white');
        --thumbBG: theme('colors.gray.300');
        --thumbBG_Hover: theme('colors.gray.400');
        --scrollbarBG_Hover: theme('colors.gray.50');
        --scrollbarBG_Shadow: none;
    }

    body.dark {
        --scrollbarBG: theme('colors.gray.800');
        --thumbBG: theme('colors.gray.700');
        --thumbBG_Hover: theme('colors.gray.600');
        --scrollbarBG_Hover: theme('colors.gray.600');
        --scrollbarBG_Shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }

    body {
        scrollbar-width: thin;
        scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    }

    ::-webkit-scrollbar {
        width: 16px;
    }

    /* background of the scrollbar except button or resizer */
    ::-webkit-scrollbar-track {
        background-color: var(--scrollbarBG);
        box-shadow: var(--scrollbarBG_Shadow);
    }
    /*
    ::-webkit-scrollbar-track:hover {
        --scrollbarBG: var(--scrollbarBG_Hover)
    }*/

    /* scrollbar itself */
    ::-webkit-scrollbar-thumb {
        background-color: var(--thumbBG);
        border-radius: 16px;
        border: 5px solid var(--scrollbarBG);
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--thumbBG_Hover);
    }
}
