@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    @variants dark {
        .form-input {
            @apply border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:border-transparent
            dark:bg-gray-900 dark:text-gray-100 dark:border-gray-700 dark:placeholder-gray-600;
        }
    }
}

@layer utilities {
    @variants responsive {
        .h-page {
            height: calc(100vh - 14.6rem);
            max-height: 30rem;
        }

        .w-page {
            width: 80rem;
            max-width: 80rem;
        }

        .w-prose {
            width: calc(65ch + 1.5rem)
        }
    }
}
